body{
    font-family: 'SF Pro Display', sans-serif;
   
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 32px;
   
   
}

.cabecalho__logo{
    width: 20px;
    height: 20px;
 
}

.cabecalho__folio{
    position: absolute;
    width: 40px;
    height: 23.7px;
    padding: 32px;
    
}

.cabecalho__menu{
    position: absolute;
    left: 311px;
    
}

.cabecalho__background{
    position: absolute;
    left: 176px;
    top: -15.31px;
   
}
