body{
    font-family: 'Roboto', sans-serif;
    background: url(../img/Mobile/line-1.svg);
    background-repeat: no-repeat;
    background-position: 176px -14.31px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 52px 32px;
}

.cabecalho__logo{
    width: 32px;
    height: 32px;
}

.cabecalho__folio{
    position: absolute;
    width: 60px;
    height: 23.7px;
    padding: 5px 46px ;

}

.cabecalho__menu{
    position: absolute;
    left: 311px;
    width: 22px;
    height: 2px;
}
.cabecalho__background{
    position: absolute;
    left: 176px;
    top: -14.31px;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 812px;
    background: url(../img/Mobile/Path\ Copy_menu-lateral.svg);
    background-repeat: no-repeat;
    background-position: 94px -13px ;
    background-color: #232340;

}

.menu-lateral__logo{
    width: 32px;
    height: 32px;
    padding: 52px 32px;
}
.menu-lateral__folio{
    width: 60px;
    height: 23.87px;
    position: absolute;
    padding: 56.35px 76.8px;
    
}

.menu-lateral__link--work{
    width: 75px;
    height: 40px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 100px 268px 506px 32px;
}

.menu-lateral__link--about{
    height: 40px;
    font-size: 32px;
    font-weight: 700;
    color: #595976;
    position: absolute;
    margin: 320px 255px 426px 32px;
    
}

.menu-lateral__link--services{
    height: 40px;
    font-size: 32px;
    color: #595976;
    font-weight: 700;
    position: absolute;
    margin: 400px 255px 426px 32px;
}

.menu-lateral__link--jobs{
    height: 40px;
    font-size: 32px;
    color: #595976;
    font-weight: 700;
    position: absolute;
    margin: 490px 255px 426px 32px;

}


