@import url(cabecalho.css);
@import url(principal_home.css);
@import url(sobre.css);

:root{
    --dark: #232340;
    --branco: #FFFFFF;
    --text-light:#606060; 
    --azul:#5468E7;
    --dark-mode:#8B8B8B;

    --font-family-padrao: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
     background: url('../img/bg_line.svg') no-repeat;
    background-position: 176px -14.31px; 
}

